 # INTEL CONFIDENTIAL
 #
 # Copyright 2013 - 2016 Intel Corporation All Rights Reserved.
 #
 # The source code contained or described herein and all documents related to
 # the source code ("Material") are owned by Intel Corporation or its suppliers
 # or licensors. Title to the Material remains with Intel Corporation or its
 # suppliers and licensors. The Material contains trade secrets and proprietary
 # and confidential information of Intel or its suppliers and licensors. The
 # Material is protected by worldwide copyright and trade secret laws and treaty
 # provisions. No part of the Material may be used, copied, reproduced,
 # modified, published, uploaded, posted, transmitted, distributed, or disclosed
 # in any way without Intel's prior express written permission.
 #
 # No license under any patent, copyright, trade secret or other intellectual
 # property right is granted to or conferred upon you by disclosure or delivery
 # of the Materials, either expressly, by implication, inducement, estoppel or
 # otherwise. Any license under such intellectual property rights must be
 # express and approved by Intel in writing.
 #
 # Unless otherwise agreed by Intel in writing, you may not remove or alter this
 # notice or any other notice embedded in Materials by Intel or Intel's
 # suppliers or licensors in any way.

[Unit]
Description=Starts the ICECP server
Requires=network.target 
Wants=nfd.service
After=nfd.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/icecp/icecp-node
ExecStart=/home/icecp/icecp-node/bin/icecp
RestartSec=5s
Restart=on-failure
# TODO remove the following in production; requires all permissions to be configured correctly
# TODO proxies only set for internal use; comprehensive solution with PAC scripts needed 
Environment='JAVA_OPTS=-Dicecp.sandbox=disabled -Dhttps.proxyHost=proxy-chain.intel.com -Dhttps.proxyPort=911 -Dhttp.nonProxyHosts=localhost|127.*|192.168.*|10.*|*.intel.com'
# TODO remove below and add shutdown hooks at icecp-node level
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target

